

  <div>
    <%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
      <h2>name</h2>
       <input name="name" value="<%= @user.name %>">
      <h2>email</h2>
       <input name="email" value="<%= @user.email %>">
       <h2>image</h2>
       <input name="image" type="file">
       <input type="submit">
    <% end %>



  </div>