<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
      <h1>hello world</h1>
        <%= link_to("SignUp","/users/new") %>
        <%= link_to("Login","/users/login") %>
        <%= link_to("Posts","/posts/index") %>
    </div>
</body>
</html>